{% extends 'base.html' %}
{% import '_models.html' as model %}
{% block _head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/head_base.css') }}" type="text/css">
{% endblock %}
{% block content %}
  <div class="header flex justify-content-center">
    <div class="container flex justify-content-between">
      <div class="logo">
        <a href="#">
          <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo">
        </a>
      </div>
      <div class="nav-ul">
        <div class="nav-li"><a href="#">HOME</a></div>
        <div class="nav-li myactive"><a href="/">党建课堂</a></div>
        <div class="nav-li">
          {% if current_user.is_user %}
            <a href="{{ url_for('main.learn_center') }}">学习中心</a>
          {% else %}
            <a href="{{ url_for('main.login', next=active_page) }}">登录</a>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
  {{ model.page_section('党建课堂', '/', '/') }}
  {% block page_content %}

  {% endblock %}
{% endblock %}