{% extends 'main/base.html' %}
{% block _head %}
  {{ super() }}
  <style>
    .detail-container {
      display: flex;
    }
    .detail-left {
      width: 100%;
    }
    .detail-left img {
      width: 100%;
    }
    .detail-right {
      width: 100%;
      padding: 0 20px;
    }
    .detail-right .title {
      font-size: 1.2rem;
      font-weight: 600;
      color: #21202e;
    }
    .detail-title {
      margin-bottom: 10px;
    }
    .detail-des {
      margin-top: 5px;
    }
    .detail-btn {
      margin-top: 60px;
      font-weight: bold;
      color: #ce1b28;
    }
    .ml-3 {
      margin-left: 30px;
    }
  </style>
{% endblock %}
{% block page_content %}
  <div class="flex-column justify-content-center align-items-center">
    <div class="container">
      <div class="detail-container">
        <div class="detail-left">
          <img src="{{ course.img_url }}" alt="课程图片">
        </div>
        <div class="detail-right">
          <div class="detail-title"><span class="title">{{ course.title }}</span></div>
          <div class="detail-des"><span class="title">学习时长： </span>{{ course.total_time }} 分钟</div>
          <div class="detail-des"><span class="title">培训类型： </span>{{ course.classify }}</div>
          <div class="detail-des"><span class="title">开始时间：</span> {{ course.newstime }}</div>
          <div class="detail-btn">
            {% if not current_user.is_authenticated %}
              {% if '没有选择这门课' == '' %}
                <button class="btn btn-lg btn-primary">立即选课</button>
              {% else %}
                {% if '含有学习' != '' %}
                  {% if '学习进度大于0%' != '' %}
                    <button class="btn btn-lg btn-success">继续学习(50%)</button>
                  {% else %}
                    <button class="btn btn-lg btn-success">开始学习</button>
                  {% endif %}
                {% endif %}
                {% if '含有考试' != '' %}
                  {% if '含有学习且学习进度100%' == '' %}
                    <button type="button" class="btn btn-lg btn-warning ml-3">进行考试</button>
                  {% else %}
                    <button type="button" class="btn btn-lg btn-warning ml-3"
                            data-toggle="popover" title="无法考试"
                            data-content="请先完成所有学习后再进行考试！">进行考试</button>
                  {% endif %}
                {% endif %}
              {% endif %}

            {% else %}
              <span class="tips">请登录后进行更多操作</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block _scripts %}
  <script>
      $(function () {
          $("[data-toggle='popover']").popover();
      });
  </script>
{% endblock %}