{% extends 'base.html' %}

{% block _head %}
  <style>
    .page-exam {
      font-size: 1.2rem;
      margin-top: 10%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .exam-title {
      font-weight: 600;
      font-size: 2rem;
      margin-bottom: 20px;
    }
    .exam-detail {
      margin-top: 15px;
      width: 450px;
    }
    .question-type {
      text-indent: 2rem;
    }
    .exam-btns {
      width: 450px;
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="flex justify-content-center align-items-center">
    <div class="container">
      <div class="page-exam">
        <div class="exam-title">
          {{ detail.course }}
        </div>
        <div class="exam-detail">
          考试时间：<span class="red">{{ detail.exam_time }}</span> 分钟
        </div>
        <div class="exam-detail">
          总分： <span class="red">{{ detail.total_score }}</span> 分
        </div>
        <div class="exam-detail">
          题型说明：
          <div class="question-type">
            判断  <span class="red">{{ detail.judge_num }}</span> 题
            每题 <span class="red">{{ detail.judge_score }}</span> 分
            共 <span class="red">{{ detail.judge_total_score }}</span> 分
          </div>
          <div class="question-type">
            单选  <span class="red">{{ detail.radio_num }}</span> 题
            每题 <span class="red">{{ detail.radio_score }}</span> 分
            共 <span class="red">{{ detail.radio_total_score }}</span> 分
          </div>
          <div class="question-type">
            多选  <span class="red">{{ detail.multiple_num }}</span> 题
            每题 <span class="red">{{ detail.multiple_score }}</span> 分
            共 <span class="red">{{ detail.multiple_total_score }}</span> 分
          </div>

        </div>

        <div class="exam-btns">
          <button type="button" id="startExam" class="btn btn-lg btn-primary">开始考试</button>
          <button type="button" id="back" class="btn btn-lg btn-default">返回</button>
        </div>
      </div>

    </div>
  </div>
{% endblock %}

{% block _scripts %}
  <script>
      $(document).ready(function () {

          $('#back').click(function () {
              history.back(-1)
          });

          $('#startExam').click(function () {
              document.location = "{{ url_for('main.exam', c_id=detail.c_id) }}"
          });
      });
  </script>
{% endblock %}