{% extends 'main/base.html' %}
{% import 'main/_models.html' as models %}
{% set course_status = 'notpass' %}
{% block _head %}
  {{ super() }}
  <style>
    a {
      font-weight: 600;
      color: #21202e;
      text-decoration: none;
      transition-duration: 0.3s;
      transition-delay: 0s;
      transition-property: all;
    }

    a:hover {
      text-decoration: none;
      color: #ce1b28;
    }

    dl {
      margin: 0;
    }
    .classify {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
    }
    .filter-type {
      display: flex;
      flex-direction: row;
      padding: 15px 20px;
    }

    .filter-type-name {
      width: 100px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-wrap: normal;
      vertical-align: top;
      display: block;
      color: #999;
      font-size: 1.3rem;
    }

    .filter-item-wrap {
      padding-left: 20px;
    }

    .filter-item-list {
      padding-top: 3px;
      display: flex;
      justify-content: center;
      align-items: initial;
      height: 100%;
      width: 100%;
      color: #21202e;
    }

    .filter-item {
      cursor: pointer;
      font-size: 1rem;
      font-weight: 600;
      margin-left: 15px;
      position: relative;
    }

    .filter-item:hover {
      color: #ce1b28;
    }

    .current {
      color: #ce1b28;
      border-bottom: 3px solid #ce1b28;
    }

    .trains {

    }

    .show-user {
      padding: 20px;
      border: 1px solid #b8b8b8;
      border-radius: 8px;
      margin-bottom: 20px;
    }

    .user-info {
      display: flex;
      justify-content: space-between;
      /* border-bottom: 1px solid #b8b8b8; */
      padding-bottom: 10px;
    }

    .learning {
      padding-top: 10px;
      display: flex;
    }

    .learning a {
      font-size: 1.2rem;
    }

    .text {
      line-height: 1rem;
    }

    .learn-item1{
      width: 100%;
    }

    .pagination {
      display: flex;
      justify-content: center;
    }
  </style>
{% endblock %}
{% block page_content %}
  <div class="flex-column justify-content-center align-items-center">
    <div class="container">
      {% if current_user.is_authenticated %}
        <div class="show-user">
          <div class="user-info">
            <a href="/user/learn_center">{{ current_user.name }}（{{ current_user.phone }}）</a>
            <a href="{{ url_for('main.logout') }}">退出</a>
          </div>
          <div class="learning">
            <div class="learn-item1">
              <div class="text">
                当前正在学习:
                <a href="#">
                  学习十八大培训(
                  {% if course_status == 'pass' %}
                    <span class="green">已通过</span>
                  {% else %}
                    <span class="red">未通过</span>
                  {% endif %}
                  )
                </a>
              </div>
            </div>
              {{ model.progress('学习进度：', '0') }}
          </div>
        </div>
      {% endif %}
      <div class="classify gary">
        <dl class="filter-type">
          <dt class="filter-type-name">学习分类</dt>
          <dd class="filter-item-wrap">
            <div class="filter-item-list">
              <div class="filter-item current">不限</div>
              {% for classify in classifies %}
                <div class="filter-item">{{ classify }}</div>
              {% endfor %}
            </div>
          </dd>
        </dl>
        <dl class="filter-type">
          <dt class="filter-type-name">学习类型</dt>
          <dd class="filter-item-wrap">
            <div class="filter-item-list">
              <div class="filter-item current">不限</div>
              <div class="filter-item">公共</div>
              <div class="filter-item">学习</div>
              <div class="filter-item">考试</div>
              <div class="filter-item">培训</div>
            </div>
          </dd>
        </dl>
        <dl class="filter-type">
          <dt class="filter-type-name">时间排序</dt>
          <dd class="filter-item-wrap">
            <div class="filter-item-list">
              <div class="filter-item current">倒序</div>
              <div class="filter-item">正序</div>
            </div>
          </dd>
        </dl>
      </div>

      <div class="trains row">
        {% for foo in range(8) %}
          <div class="col-md-3 col-sm-3 animated bounce">
            {{ models.course_card('学习十八大培训', url_for('main.course_detail', id=1), '培训', '2018-11-11', 200) }}
          </div>
        {% endfor %}
      </div>

    {{ model.pagination() }}
    </div>
  </div>
{% endblock %}