{% extends "base.html" %}
{% block _head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" type="text/css">
{% endblock %}
{% block content %}
  <div class="container">
    <div class="logo">
      <a href="#">
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo">
      </a>
    </div>
    <div class="login-container flex justify-content-center align-items-center">
      <div class="login">
        <div class="flex-column align-items-center">
          <div class="title">
            <label class="animated jackInTheBox">用户登录</label>
          </div>
          <form action="{{ url_for('main.login') }}" method="post" class="login-frm">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="fields">
              <div class="field">
                <input class="control" type="text" id="phoneNum" name="phone_num" required>
                <label class="animated">手机号</label>
                <div class="message"></div>
              </div>
              <div class="field">
                <input class="control password" name="password" type="password" required >
                <label class="animated">密码</label>
                <div class="message"></div>
              </div>
            </div>

            <div class="submit">
              <button type="submit" id="submit" class="btn btn-default btn-lg" disabled>
                登录
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block _scripts %}
  <script>
      let RIGHT_NUM = false;

      $(document).ready(function () {
          let msg = '{{ msg }}';
          if (msg !== ''){
              swal('{{ msg }}', '', 'error')
          }

          $('.control').val('');

          $('#phoneNum').bind('input propertychange', function () {
              let val = $(this).val();
              // console.log(val);
              let message = $(this).next().next();

              if (val.length < 11 || val.length > 11 || !val.startsWith('1')){
                  if (!$('#submit').attr('disabled'))
                    $('#submit').removeAttr('disabled').attr('disabled', 'disabled');
                  message.removeClass('green');
                  message.addClass('red');
                  message.text('');
                  message.text('X 请输入正确的手机号!')
              }
              else {
                  $('#submit').removeAttr('disabled');
                  message.removeClass('red');
                  message.addClass('green');
                  message.text('');
                  message.text('√')
              }

              if (val.length === 0) {
                  if (!$('#submit').attr('disabled'))
                    $('#submit').removeAttr('disabled').attr('disabled', 'disabled');
                  message.removeClass('green red');
                  message.text('');
              }
          });

          $('.control').focus(function () {
              $(this).next().addClass('fadeOutRight')
          });

          $('.control').blur(function () {
              let text = $(this).val();
              if(!text){
                  $(this).next().removeClass('fadeOutRight');
                  $(this).next().addClass('fadeInRight');
              }
          });
      })
  </script>
{% endblock %}