{% extends 'base.html' %}
{% import '_models.html' as model %}
{% block _head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/video.css') }}" type="text/css">
{% endblock %}
{% block content %}
  <div class="video-container">
    <div class="video-head">
      <div class="video-head-left">
        <a href="javascript:history.back(-1)">返回</a>
        <div class="course-title">
          当前视频: < <span>{{ course.name }}</span> - <span id="videoTitle">
          {% if videos %}
            {{ videos[0].title }}
          {% endif %}
        </span>>
        </div>
      </div>
      {% if course.learn_rate %}
        <div class="video-head-right">
          {{ model.progress('课程进度：', course.learn_rate) }}
        </div>
      {% endif %}
    </div>
    <div class="video-content">
      <div class="video-wrapper" id="wrapper">

      </div>
      <div class="video-menu">
        <div class="video-menu-btn">
          <div class="video-btn" id="toggle-menu">
            <span id="menuBtn" class="animated">课程</span>
          </div>
        </div>
        <div class="menu">
          <div class="menu-head">
            目录
          </div>
          <div class="menu-ul">
            {% if videos %}
              {% for video in videos %}
                <div class="menu-li"
                     data-src="{{ video.src }}"
                     data-title="{{ video.title }}"
                     data-id="{{ video.id }}">
                  <div class="menu-li-title">
                    {{ loop.index }}. {{ video.title }}
                  </div>

                  {% if video.percent or video.percent == 0 %}
                    <div class="menu-li-progress">
                      {{ model.progress('学习进度：', video.percent) }}
                    </div>
                  {% endif %}
                </div>
              {% endfor %}
            {% else %}
              <div class="nothing">
                无视频
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block _scripts %}
  <script src="http://lib.baomitu.com/chimee-player/1.1.9/chimee-player.browser.js"></script>
  <script>

      $(document).ready(function () {
          let interval;
          let chimee = new ChimeePlayer({
              wrapper: '#wrapper',  // video dom容器
              {% if videos %}
                  src: '{{ videos[0].src }}',
              {% else %}
                  src: '',
              {% endif %}
              controls: true
          });
          {% if videos %}
              chimee.title = '{{ videos[0].title }}';
          {% endif %}

          chimee.on('play', start_timer);
          chimee.on('pause', stop_timer);

          function loadVideo(src, title, id){
              chimee.controls = false;
              chimee = new ChimeePlayer({
                  wrapper: '#wrapper',
                  src: src,
                  controls: true
              });
              chimee.title = title;
              chimee.id = id;
          }

          function start_timer(){
              {% if not current_user.is_user  %}
                  interval = setInterval(function () {
                      let x = chimee.currentTime;
                      console.log(x)
                  }, 3000);
              {% endif %}
          }

          function stop_timer(){
              clearInterval(interval);
          }

          $('#toggle-menu').click(function () {
              if ($('.video-menu').css('width') === '0px'){
                  $('.video-menu').css('width', '300px');
                  $('#menuBtn').removeClass().addClass('flipInX animated');
                  setTimeout(function () {
                      $('.menu').css('display', 'block');
                  }, 400)
              }
              else {
                  $('.video-menu').css('width', '0px');
                  $('#menuBtn').removeClass().addClass('flipInY animated');
                  $('.menu').css('display', 'none');
              }
          });


          $('.menu-li').click(function () {
              let src = $(this).attr('data-src'),
                  title = $(this).attr('data-title'),
                  id = $(this).attr('data-id');
              loadVideo(src, title);
              $('#videoTitle').text(title);
              chimee.on('play', timer);
          });


      });

  </script>
{% endblock %}