{% extends 'user/base.html' %}
{% import 'user/_models.html' as user_model %}

{% block _head %}
  {{ super() }}
  <style>
    .learn-content {
      border: none;
    }

  </style>
{% endblock %}

{% block page_left %}
  {{ user_model.left_menu('档案') }}
{% endblock %}

{% block page_right %}
  <div class="learn" id="learn">
    <div class="learn-head">
      <span class="glyphicon glyphicon-object-align-bottom"></span>
      档 案
    </div>

    <div class="learn-content">
      <div class="tab-content">
        {% if not archives %}
          {{ user_model.nothing() }}
        {% else %}
          <div class="flex-column justify-content-center align-items-center">
            <table class="mytable table-bordered">
              <thead>
              <tr>
                <th>课程名称</th>
                <th>课程类型</th>
                <th>课程时长</th>
                <th>考试分数</th>
                <th>课程状态</th>
                <th>通过日期</th>
              </tr>
              </thead>
              <tbody>

              {% for foo in archives %}
                <tr>
                  <td>{{ foo.name }}</td>
                  <td>{{ foo.type }}</td>
                  <td>{{ foo.duration }} 分钟</td>
                  <td>{{ foo.score }} 分</td>
                  <td><span class="green">{{ foo.status }}</span></td>
                  <td>{{ foo.elt }}</td>
                </tr>
              {% endfor %}

              </tbody>
            </table>
            {#          {{ model.pagination() }}#}
          </div>
        {% endif %}

      </div>

    </div>

  </div>
{% endblock %}
{% block _scripts %}
  {{ super() }}
  <script>
      $(document).ready(function () {
      })
  </script>
{% endblock %}