{% extends 'user/base.html' %}
{% import 'user/_models.html' as user_model %}

{% block _head %}
  {{ super() }}
{% endblock %}

{% block page_left %}
  {{ user_model.left_menu('考试') }}
{% endblock %}

{% block page_right %}
  <div class="learn" id="learn">
    <div class="learn-head">
      <span class="glyphicon glyphicon-education"></span>
      在线考试
    </div>
    <div class="learn-navs">
      <a class="learn-nav {{ choice_np }}" href="#noPass" id="noPassTab"
         onclick="tab(this)" >
        考试（未通过）
      </a>
      <a class="learn-nav {{ choice_p }}" href="#apass" id="passTab"
         onclick="tab(this)" >考试（已通过）</a>
    </div>
    <div class="learn-content">
      <div class="tab-content">
        <div id="noPass" role="tabpanel" class="tab-pane active">
          {% if nopasses %}
            <div class="flex-column justify-content-center align-items-center">
              <div class="exam-table table-responsive">
                <table class="mytable table-bordered">
                  <thead>
                  <tr>
                    <th style="width: 400px">课程</th>
                    <th>答卷时间(分钟)</th>
                    <th>操作</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for foo in nopasses %}
                    <tr>
                      <td>
                        <div class="exam-course">
                          <div class="exam-course-img">
                            <img src="{{ foo.course.img_url }}" alt="">
                          </div>
                          <div class="exam-course-info">
                            <div class="course-title">
                              <a href="{{ foo.course_url }}">{{ foo.course.name }}</a>
                            </div>
                            <div class="course-percent">
                              {{ model.progress('学习进度：', foo.learn_rate) }}
                            </div>
                          </div>
                        </div>
                      </td>
                      <td>{{ foo.exam_time }}</td>
                      <td>
                        {% if foo.course.type == "考试" %}
                          <a href="{{ url_for('main.exam_detail', c_id=foo.course_id) }}" class="btn btn-primary">进入考试</a>
                        {% elif foo.course.type == "培训" %}
                          {% if foo.learn_rate == "100" %}
                            <a href="{{ url_for('main.exam_detail', c_id=foo.course_id) }}" class="btn btn-primary">进入考试</a>
                          {% else %}
                            <a href="{{ url_for('main.course_video', course_id=foo.course_id) }}" class="btn btn-primary">继续学习</a>
                          {% endif %}
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              {{ model.pagination(npaginate, 'main.examination', choice='np') }}
            </div>
          {% else %}
            {{ user_model.nothing() }}
          {% endif %}
        </div>
        <div id="apass" role="tabpanel" class="tab-pane">
          {% if passes %}
            <div class="flex-column justify-content-center align-items-center">
              <div class="exam-table table-responsive">
                <table class="mytable table-bordered">
                  <thead>
                  <tr>
                    <th style="width: 400px">课程</th>
                    <th>开始时间</th>
                    <th>分数</th>
                    <th>操作</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for foo in passes %}
                    <tr>
                      <td>
                        <div class="exam-course">
                          <div class="exam-course-img">
                            <img src="{{ foo.course.img_url }}" alt="">
                          </div>
                          <div class="exam-course-info">
                            <div class="course-title">
                              <a href="{{ foo.course_url }}">{{ foo.course.name }}</a>
                            </div>
                            <div class="course-percent">
                              {{ model.progress('学习进度：', foo.learn_rate) }}
                            </div>
                          </div>
                        </div>
                      </td>
                      <td>{{ foo.start_exam_time }}</td>
                      <td style="min-width: 5rem">{{ foo.point }}分</td>
                      <td>
                        <a href="{{ url_for('main.archives') }}" class="btn btn-default">查看档案</a>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              {{ model.pagination(ppaginate, 'main.examination', choice='p') }}
            </div>
          {% else %}
            {{ user_model.nothing() }}
          {% endif %}
        </div>
      </div>
    </div>

  </div>
{% endblock %}
{% block _scripts %}
  {{ super() }}
  <script>
      function tab(ele) {
          let id = $(ele).attr('href');
          $('[role="tabpanel"]').hide();
          $(id).show()
      }
      $(document).ready(function () {

      })
  </script>
{% endblock %}