{% extends 'user/base.html' %}
{% import 'user/_models.html' as user_model %}

{% block _head %}
  {{ super() }}
  <style>
    #userFrm {
      width: 100%;
    }
    .learn-content {
      border: none;
    }
    .user-info {
      width: 75%;
      color: #21202e;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .user-edit-btn {
      display: flex;
      justify-content: flex-end;
    }

    .user-li {
      width: 100%;
      font-size: 1.2rem;
      margin-top: 20px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .user-li-title {

      padding-right: 20px;
      width: 100%;
      text-align: right;
    }

    .user-li-msg {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
    }

    .user-li-msg button {
      margin-right: 20px;
    }

    .user-li-msg label {
      font-weight: 400;
      font-size: 1rem;
      margin-right: 10px;
    }

    .form-control {
      border: none;
      box-shadow: none;

    }


  </style>
{% endblock %}

{% block page_left %}
  {{ user_model.left_menu('资料') }}
{% endblock %}

{% block page_right %}
  <div class="learn" id="learn">
    <div class="learn-head">
      <span class="glyphicon glyphicon-user"></span>
      个人资料
    </div>

    <div class="learn-content">
      <form method="post" id="userFrm">
        <div class="tab-content">
          <div class="user-info">
            <div class="user-li">
              <div class="user-li-title">姓名</div>
              <div class="user-li-msg">
                <input type="text" name="name" value="{{ current_user.name }}" class="form-control" disabled>
              </div>
            </div>
            <div class="user-li">
              <div class="user-li-title">手机</div>
              <div class="user-li-msg">
                <input type="text" name="phone" value="{{ current_user.phone }}" class="form-control" disabled>
              </div>
            </div>
            <div class="user-li">
              <div class="user-li-title"></div>
              <div class="user-li-msg">
                <button type="button" class="btn btn-warning" id="updatePwd">修改密码</button>
              </div>

            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
{% endblock %}
{% block _scripts %}
  {{ super() }}
  <script>
      $(document).ready(function () {
          function new_pwd(){
              swal({
                  title: '请输入新密码',
                  input: 'password',
                  showCancelButton: true,
                  confirmButtonText: '提交',
                  showLoaderOnConfirm: true,
                  preConfirm: function (pwd) {
                      return new Promise(function (resolve, reject) {
                          $.ajax({
                              type: "POST",
                              url: '{{ url_for('api.update_pwd') }}',
                              data: JSON.stringify(
                                  {
                                      'u_id': '{{ current_user.id }}',
                                      'pwd': pwd
                                  }
                              ),
                              cache: false,
                              dataType: 'json',
                              contentType: 'application/json',
                              success: function (res) {
                                  if (res.resCode === 'ok') resolve(res.msg);
                                  else reject(res.msg)
                              },
                              fail: function (err) {
                                  reject(err)
                              }
                          })
                      })
                  }
              }).then(
                  function (res) {
                      swal(res, '', 'success')
                  }
              )
          }

          $('#updatePwd').click(function()
              {
                  swal({
                      title: '请输入原密码',
                      input: 'password',
                      showCancelButton: true,
                      confirmButtonText: '下一步',
                      showLoaderOnConfirm: true,
                      preConfirm: function (pwd) {
                          return new Promise(function (resolve, reject) {
                              $.ajax({
                                  type: "POST",
                                  url: '{{ url_for('api.auth_pwd') }}',
                                  data: JSON.stringify(
                                      {
                                          'u_id': '{{ current_user.id }}',
                                          'pwd': pwd
                                      }
                                  ),
                                  cache: false,
                                  dataType: 'json',
                                  contentType: 'application/json',
                                  success: function (res) {
                                      if (res.resCode === 'ok') resolve(res.msg);
                                      else reject(res.msg)
                                  },
                                  fail: function (err) {
                                      reject(err)
                                  }
                              })
                          })
                      }
                  }).then(
                      new_pwd
                  )
              }
          );
      })
  </script>
{% endblock %}