.macro {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.page-section {
    color: white;
    height: 155px;
    padding-bottom: 48px;
    padding-top: 50px;
}

.page-section h1 {
    font-size: 2rem;
    margin-top: 10px
}

.section-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-item a {
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.section-item a:hover {
    color: #21202e;
}

.section-item label {
    margin: 0 5px;
}

.page-seperate {
    background: url(../images/page-shadow.png) no-repeat center bottom;
    padding-bottom: 70px;
    margin: 0px;
}


/*page-card样式开始*/
.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}
.card-container:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px 1px rgba(0,0,0,.21);
}
.item-head {
    display: block;
    position: relative;
}
.item-image {
    width: 240px;
    height: 182px;
    border-radius: 8px;
}
.item-classify {
    font-size: 0.6rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 12px;
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    border-bottom-left-radius:14px;
    border-top-right-radius: 8px;
    font-weight: 500;
}
.item-status {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 0.8rem;
    font-weight: 500;
}

.other-container{

    padding-top: 10px;
    width: 100%;
    color: #21202e;
}

.item-title {
    height: 60px;
}

.item-title a{
    font-weight: 500;
    color: #21202e;
    text-decoration: none;
}
.item-title a:hover {
    color: #ce1b28;
}

.item-explain {
    color: gray;
}
/*page-card样式结束*/


/* left_menu 样式 */
.left-navs {
    font-weight: 600;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #21202e;
    border-radius: 3px;
}
.left-nav {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    line-height: 60px;
    height: 60px;
    color: #21202e;

}
.left-nav span {
    padding-left: 30px;
    margin-right: 15px;
}
.left-navs .show, .left-nav:hover {
    background-color: #ce1b28;
    color: white;

}
.left-navs a , .left-navs a:hover{
    text-decoration: none;
}
/* left_menu 样式结束 */

/* nothing 样式 */
.nothing {
    padding: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.n-text {
    margin-top: 20px;
}
/* nothing 样式结束 */