.video-container {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.video-head {
    min-height: 50px;
    max-height: 60px;
    color: gray;
    height: 6vh;
    width: 100%;
    background-color: #21202e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video-head-left {
    width: 100%;
    display: flex;
}

.video-head-left a {
    margin-left: 20px;
    color: #f5f5f5;
    font-weight: 600;
}

.course-title {
    margin-left: 50px;
    color: #f5f5f5;
}

.video-head-right {
    width: 100%;
}

.course-progress {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-content {
    padding-left: 20px;
    height: 20px;
    width: 50%;
}

.progress-title {
    font-weight: 600;
    color: #ce1b28;
}

.video-content {
    display: flex;
    width: 100%;
    height: 94%;
}

.video-wrapper {
    width: 100%;
    height: 100%;
}

.video-menu {
    position: relative;
    width: 300px;
    height: 100%;
    background-color: #21202e;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-property: all;
}

.video-btn {
    cursor: pointer;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    line-height: 24px;
    padding-top: 15px;
    background-color: rgba(159, 159, 159, 0.7);
    width: 40px;
    height: 80px;
    border-radius: 20px;
    color: white;
}


.video-menu-btn {
    position: absolute;
    left: -40px;
    top: 10%;
    z-index: 9999;
}

.menu {
    color: #9f9f9f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-property: all;
}

.menu-head {
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing:20px
}

.menu-ul {
    overflow: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

::-webkit-scrollbar {
    width: 6px;
    height: 3px;
}

/*正常情况下滑块的样式*/
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.01);
    border-radius: 10px;
}

/*鼠标悬浮在该类指向的控件上时滑块的样式*/
:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
    border-radius: 10px;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);
}

/*鼠标悬浮在滑块上时滑块的样式*/
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,.4);
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);
}

/*正常时候的主干部分*/
::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
    background-color: white;
}
/*鼠标悬浮在滚动条上的主干部分*/
::-webkit-scrollbar-track:hover {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.4);
    background-color: rgba(0,0,0,.01);
}


.menu-li {
    padding-bottom: 5px;
    margin-top: 10px;
    width: 100%;
    align-items: center;
    /* 让文字无法被选中 */
    -moz-user-select: none;/*支持Firefox浏览器*/
    -webkit-user-select: none;/*支持Chrome，Opera，Safari等浏览器*/
    -ms-user-select: none;/*支持IE浏览器*/
    user-select: none;
}

.menu-li-title:hover {
    cursor: pointer;
    border-radius: 10px;
    color: #ffffff;
}


.menu-li-title {
    padding: 5px;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.menu-li-progress {
    line-height: 0.5rem;
    font-size: 0.5rem ;
    padding-left: 6px;
    padding-right: 6px;
    width: 100%;
}

#video-iframe {
    width: 100%;
    height: 100%;
}

.my-progress .text {
    width: auto;
    color: inherit;
}

.progress-bar-danger {
    background-color: #ce1b28;
}