
.nav > .active {
    cursor: pointer;
}

.list-body {
    width: 98%;
    height: 100%;
}

.td-pro {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    max-width: 10rem;
}

.td-pro > .my-progress > .text {
    width: 0;
}

.list-head {
    margin-top: 1rem;
}

.btn-block {
    display: block;
    width: 100%;
}

.dm-uploader .btn input[type=file] {
    width: 100%;
    height: 100%;
}

.list-table {
    height: 80%;
    align-items: flex-start;
    padding: 0;
}

.list-table tbody, .list-table thead {
    display: block;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.list-table tbody {
    height: 24rem;
    table-layout:fixed;
    WORD-BREAK:break-all;
}

.list-table tbody>tr, .list-table thead>tr{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.list-table tbody>tr>td, .list-table thead>tr>td {
    min-width: 9rem;
    line-height: 1.2rem;
    max-width: 12rem;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
