{% extends 'base.html' %}
{% block title %}后台管理{%endblock %}
{% block _head %}
  <style>
    .admin-container {
      width: 100%;
      height: 100vh;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    .head {
      width: 100%;
      height: 60px;
      background-color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .head-logo {
      padding-left: 3rem;
    }
    .head-logo img {
      width: 190px;
      height: 40px;
    }
    .head-admin {
      padding-right: 3rem;
      font-size: 1.1rem;
      font-weight: 600;
    }
    .head-admin a {
      text-decoration: none;
      margin-left: 1rem;
    }

    .admin-content {
      display: flex;
      width: 100%;
      height: 100%;
    }
    .content-nav {
      width: 15%;
      min-width: 9rem;
      height: 100%;
      background-color: #cfcfcf;
    }
    .content-body {
      width: 100%;
      height: 100%;
    }
    .nav-container {
      width: 100%;
      height: 100%;
    }
    .nav-head {
      line-height: 2.5rem;
      margin: 1rem;
      padding-bottom: 0.5rem;
      font-size: 1.3rem;
      font-weight: 600;
      border-bottom: 1px solid;
    }
    .nav-ul {
      width: 100%;
      height: 100%;
      margin-top: 1rem;
    }

    .nav-li {
      width: 100%;
    }


    .nav-btn {
      font-size: 1rem;
      font-weight: 500;
      padding-left: 2rem;
      padding-right: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;
      position: relative;
      cursor: pointer;
      width: 100%;
      min-width: 10rem;
      transition: color 0.2s;
      moz-user-select: none;/*支持Firefox浏览器*/
      -webkit-user-select: none;/*支持Chrome，Opera，Safari等浏览器*/
      -ms-user-select: none;/*支持IE浏览器*/
      user-select: none;
    }

    .collapse .nav-btn {
      transition: padding 0.3s;
      padding-left: 3rem;
    }

    .nav-btn:active {
      top:2px;
    }

    .nav-btn:hover {
      background-color: #ce1b28;
      color: white;
    }

    .nav-collapse {
      background-color: #e3e3e3;
    }

    .content-ifram {
      width: 100%;
      height: 100%;
      border: none;
      overflow: hidden;
    }

    .nav-title {
      min-width: 6rem;
    }
    .input-group {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .input-group input{
      border: None;
      width: 200px;
      box-shadow: 0 0 0 0;
      border-bottom: 2px solid rgb(51, 122, 183);
    }
    .input-group input:focus {
      outline: 0;
    }
    .input-group .form-group {
      width: 200px;
    }
    .explain {
      font-size: 0.3rem;
      color: #ce1b28;
      font-weight: 500;
    }

    .radio {
      text-align: left;
      line-height: 2.2;
      width: 200px;
    }

  </style>
{% endblock %}
{% block content %}
  <div class="admin-container">
    <div class="head">
      <div class="head-logo">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="#">
      </div>
      <div class="head-admin">
        <span class="red"><i class="glyphicon glyphicon-user"></i>{{ current_user.name }}</span>
        <a href="{{ url_for('admin.logout') }}">注销</a>
      </div>
    </div>
    <div class="admin-content">
      <div class="content-nav">
        <div class="nav-container">
          <div class="nav-head">
            <span class="glyphicon glyphicon-align-justify"></span>
            网站管理
          </div>
          <div class="nav-ul">
            <div class="nav-li">
              <div class="nav-btn" onclick="setFramSrc('{{ url_for("admin.frm_index") }}')">
                <div class="nav-title"><span class="glyphicon glyphicon-home"></span> 后台首页</div>
              </div>
            </div>
            <div class="nav-li">
              <div class="nav-btn" data-toggle="collapse" data-target="#courseManage">
                <div class="nav-title">
                  <span class="glyphicon glyphicon-facetime-video"></span> 课程管理
                </div>
                <span class="glyphicon glyphicon-chevron-down"></span>
              </div>
              <div class="collapse nav-collapse" id="courseManage">
                <div class="nav-btn" onclick="setFramSrc('{{ url_for("admin.add_course") }}')">
                  课程新增
                </div>
                <div class="nav-btn" onclick="setFramSrc('{{ url_for("admin.course_list") }}')">
                  课程列表
                </div>
                <div class="nav-btn" onclick="setFramSrc('{{ url_for("admin.manage_classify") }}')">
                  课程分类
                </div>
                <div class="nav-btn" onclick="setFramSrc('{{ url_for("admin.user_c_course") }}')">
                  选课的人员
                </div>
              </div>
            </div>
            <div class="nav-li">
              <div class="nav-btn" data-toggle="collapse" data-target="#userManage">
                <div  class="nav-title">
                  <span class="glyphicon glyphicon-book"></span> 人员管理
                </div>
                <span class="glyphicon glyphicon-chevron-down"></span>
              </div>
              <div class="collapse nav-collapse" id="userManage">
                <div class="nav-btn" onclick="setFramSrc('{{ url_for("admin.add_user") }}')">
                  人员新增
                </div>
                <div class="nav-btn" onclick="setFramSrc('{{ url_for("admin.user_list") }}')">
                  人员列表
                </div>
                <div class="nav-btn" onclick="setFramSrc('{{ url_for("admin.user_courses") }}')">
                  人员的选课
                </div>
              </div>
            </div>
            {% if current_user.is_administrator %}
              <div class="nav-li">
                <div class="nav-btn" onclick="setFramSrc('{{ url_for("admin.system_setting") }}')">
                  <div class="nav-title"><span class="glyphicon glyphicon-cog"></span> 系统设置</div>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="content-body">
        <iframe src="{{ url_for('admin.frm_index') }}" class="content-ifram" name="adminContent"></iframe>
      </div>
    </div>
  </div>
{% endblock %}
{% block _scripts %}
  <script>

      function setFramSrc(src) {
          {% if current_user.is_moderator %}
              $('iframe[name="adminContent"]').attr('src', src);
          {% else %}
              window.location.reload();
          {% endif %}
      }

  </script>


{% endblock %}