{% extends 'admin/frm_base.html' %}
{% block _head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/list.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/video_edit.css') }}" type="text/css">
  <style>
    .cCheckbox {
      width: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    input[type=checkbox] {
      margin-bottom: 4px;
    }
    .list-table {
      margin-top: 1rem;
    }
    .list-table tbody>tr>td, .list-table thead>tr>td {
      min-width: 18rem;
      max-width: 18rem;
      width: 18rem;
      text-align: left;
      margin-left: 20px;
      justify-content: flex-start;
    }
  </style>
{% endblock %}
{% block content_body %}
  <div class="list-container">
    <div class="list-body">
      <div class="list-head">
        <div>课程分类列表</div>
        <div>
          <button type="submit" id="addCls" class="btn btn-success btn-sm">新增</button>
        </div>
      </div>
      <div class="list-table">
        <table>
          <thead>
          <tr>
            <td>名称</td>
            <td>课程数</td>
            <td>操作</td>
          </tr>
          </thead>
          <tbody>
          {% for cls in classifies %}
            <tr>
              <td>{{ cls[1] }}</td>
              <td>{{ cls[2] }}</td>
              <td>
                <a href="#" onclick="editClssify('{{ cls[0] }}', '{{ cls[1] }}')">编辑</a>
                &nbsp;&nbsp;
                <a href="#" onclick="delClssify('{{ cls[0] }}')">删除</a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
{% block _scripts %}
  <script src="{{ url_for('static', filename='js/juicer-min.js') }}"></script>
  <script>
      let delClssify = (id)=>{
          event.preventDefault();
          parent.swal({
              title: '确定删除吗？',
              text: '你将无法恢复它！',
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: '确定删除！',
          }).then(()=>{
              a_json(
                  "{{ url_for('admin.manage_classify') }}?cls_id="+id,
                  "DELETE",
                  JSON.stringify({}),
                  (data)=>{
                      parent.swal(data.msg, '', 'success').then(()=>document.location.reload())
                  }
              )
          });

      };

      let editClssify = (id, name)=>{
          event.preventDefault();
          parent.swal({
              title: '编辑名称',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              confirmButtonText: '提交',
              cancelButtonText: '取消',
              html: '<input id="swal-input1" class="swal2-input" value="'+name+'">',
              preConfirm: function () {
                  return new Promise(function (resolve) {
                      resolve(
                          parent.$('#swal-input1').val()
                      )
                  })
              }
          }).then(function (result) {
              a_json(
                  "{{ url_for('admin.manage_classify') }}?cls_id="+id+"&name="+result,
                  "POSt",
                  JSON.stringify({}),
                  function (data) {
                      parent.swal(data.msg, '', 'success').then(()=>document.location.reload())
                  }
              )
          });
      };

      $(document).ready(function () {
          let msg = "{{ msg }}";
          if (msg !== ""){
              parent.swal(msg);
          }
          $('#addCls').click(function () {
              parent.swal({
                  title: '请输入要增加的分类名称!',
                  input: 'text',
                  showCancelButton: true,
                  confirmButtonText: '确定',
                  cancelButtonText: '取消',
                  showLoaderOnConfirm: true
              }).then(function (result) {
                  a_json(
                      "{{ url_for('admin.manage_classify') }}?name="+result,
                      "POSt",
                      JSON.stringify({}),
                      function (data) {
                          parent.swal(data.msg, '', 'success').then(()=>document.location.reload())
                      }
                  )
              })
          });
      })
  </script>

{% endblock %}