{% extends 'admin/frm_base.html' %}
{% import '_models.html' as model %}
{% block _head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/list.css') }}" type="text/css">
  <style>
    .nav > .active {
      cursor: pointer;
    }

    .list-body {
      width: 98%;
      height: 100%;
    }

    .list-table {
      display: flex;
      flex-direction: column;
    }

    .list-table table{
      width: 70%;
    }

    .list-table td {
      min-width: 5rem;
    }

    .exam-input {
      height: 1.5rem;
      width: 50%;
      min-width: 5rem;
      border: none;
      border-bottom: 1px solid rgb(51, 122, 183);
      background-color: rgba(0,0,0,0);
    }

    .exam-input:focus {
      outline: 0;
    }

    .list-head {
      margin-top: 1rem;
    }

    .dm-uploader .btn input[type=file] {
      width: 100%;
      height: 100%;
    }

    .examInfo {
      margin-top: 20px;
      width: 70%;
    }

    .passInfo {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .bankCards {
      display: flex;
      justify-content: space-around;
      width: 100%;
      padding-top: 30px;
    }

    .bankCard {
      width: 25%;
      border: 3px solid rgb(51, 122, 183);
      border-radius: 5px;
      padding: 10px;
      height: 20vh;
    }
    .bankBtns {
      width: 100%;
      margin-top: 10px;
      display: flex;
      justify-content: space-around;
      align-items: center;

    }
    .bankBtns a {
      min-width: 2rem;
    }

    .uploadFileBtn {
      position: relative;
      overflow: hidden;
    }

    .uploadFileBtn>input[type=file]{
      margin-top: 0;
      position: absolute;
      opacity: 0;
      font-size: 100px;
      right: 0;
      top: 0;
      filter: alpha(opacity=0);
      cursor: pointer
    }
  </style>
{% endblock %}
{% block content_body %}
  <div class="list-container">
    <div class="list-body">
      <div class="course-edit-nav">
        <ul class="nav nav-tabs">
          <li role="presentation"><a href="{{ url_for('admin.course_manage', c_id=course.id) }}">基础信息</a></li>
          {% if course.need_learn or course.is_public %}
            <li role="presentation"><a>课件视频</a></li>
          {% endif %}
          {% if course.need_exam %}
            <li role="presentation" class="active"><a href="#">题库及试卷</a></li>
          {% endif %}
        </ul>
      </div>
      <div class="list-head">
        <div>题型分布</div>
        <button class="btn btn-primary btn-sm" id="saveBtn">保存</button>
      </div>
      <div class="list-table">
        <table>
          <thead>
          <tr>
            <td></td>
            <td>题型数量</td>
            <td>题库数量</td>
            <td>题型分数</td>
            <td>题型总分</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>判断</td>
            <td><input type="number" class="exam-input" name="judge_num" value="{{ course.judge_num }}" /></td>
            <td><input type="number" class="exam-input" name="judge_num_now" value="{{ course.judge_nums }}" disabled/></td>
            <td><input type="number" class="exam-input" name="judge_score" value="{{ course.judge_score }}" /></td>
            <td class="total">
              {{ course.judge_num * course.judge_score }}
            </td>
          </tr>
          <tr>
            <td>单选</td>
            <td><input type="number" class="exam-input" name="radio_num" value="{{ course.radio_num }}" /></td>
            <td><input type="number" class="exam-input" name="radio_num_now" value="{{ course.radio_nums }}" disabled/></td>
            <td><input type="number" class="exam-input" name="radio_score" value="{{ course.radio_score }}" /></td>
            <td class="total">{{ course.radio_num * course.radio_score }}</td>
          </tr>
          <tr>
            <td>多选</td>
            <td><input type="number" class="exam-input" name="multiple_num" value="{{ course.multiple_num }}" /></td>
            <td><input type="number" class="exam-input" name="multiple_num_now" value="{{ course.multiple_nums }}" disabled/></td>
            <td><input type="number" class="exam-input" name="multiple_score" value="{{ course.multiple_score }}" /></td>
            <td class="total">{{ course.multiple_num * course.multiple_score }}</td>
          </tr>
          </tbody>
        </table>
        <div class="examInfo">
          <div class="passInfo">
            <div>
              <label for="">分数线</label>
              &nbsp;&nbsp;<input type="number" class="exam-input" value="{{ course.pass_score }}" name="pass_score">
            </div>
            <div>
              <label for="">考试时间(分)</label>
              &nbsp;&nbsp;<input type="number" class="exam-input" value="{{ course.exam_time }}" name="exam_time">
            </div>
            <div>
              <label for="">试卷总分</label>
              &nbsp;&nbsp;<input type="number" class="exam-input" value="{{ course.total_score }}" name="exam_total">
            </div>

          </div>
        </div>
      </div>
      <div class="list-head">
        <div>题库管理</div>
      </div>
      <div class="bankCards ">
        <div class="bankCard">
          <h4>判断</h4>
          <div class="nums">
            题库中的数量: {{ course.judge_nums }}
          </div>
          <div class="bankBtns">
            <a href="{{ url_for('main.download', filename="判断题模板.xlsx") }}">模板下载</a>
            <div class="btn btn-warning btn-sm uploadFileBtn">
              <input type="file" name="excelUpload"
                     accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
              导入
            </div>
            <button class="btn btn-success btn-sm" id="addJudge">新增</button>
            <a class="btn btn-info btn-sm" href="{{ url_for('admin.judge_list', c_id=course.id) }}">查看</a>
          </div>
        </div>
        <div class="bankCard">
          <h4>单选</h4>
          <div class="nums">
            题库中的数量: {{ course.radio_nums }}
          </div>
          <div class="bankBtns">
            <a href="{{ url_for('main.download', filename="单选题模板.xlsx") }}">模板下载</a>
            <div class="btn btn-warning btn-sm uploadFileBtn">
              <input type="file" name="excelUpload"
                     accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
              导入
            </div>
            <button class="btn btn-success btn-sm" id="addRadio">新增</button>
            <a href="{{ url_for('admin.radio_list', c_id=course.id) }}" class="btn btn-info btn-sm">查看</a>
          </div>
        </div>
        <div class="bankCard">
          <h4>多选</h4>
          <div class="nums">
            题库中的数量: {{ course.multiple_nums }}
          </div>
          <div class="bankBtns">
            <a href="{{ url_for('main.download', filename="多选题模板.xlsx") }}">模板下载</a>
            <div class="btn btn-warning btn-sm uploadFileBtn">
              <input type="file" name="excelUpload"
                     accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
              导入
            </div>
            <button class="btn btn-success btn-sm" id="addMultiple">新增</button>
            <a class="btn btn-info btn-sm" href="{{ url_for('admin.multiple_list', c_id=course.id) }}">查看</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block _scripts %}
  <script src="{{ url_for('static', filename='js/juicer-min.js') }}"></script>
  <script>
      function changeTotal(score, that){
          let total = $(that).val() * score;
          if ($(that).parent().next().find('input').val() < $(that).val()){
              swal('超出题库中习题数量!');
              $(that).val($(that).parent().next().find('input').val());
          }
          $(that).parent().next().next().next().html(total);
          updateTotal();
      }

      function updateTotal(){
          let total = 0;
          $('.total').each(function () {
              total += parseInt($(this).html().toString());
          });
          $('input[name="exam_total"]').val(total);
      }

      function swalExamChoice(name, src){
          let explain = '';
          if (name === '多选'){
              explain = '请使用\'&\'将答案分隔开 <br/>比如：答案1&答案2'
          }
          parent.swal({
              title: '新增'+ name,
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              confirmButtonText: '提交',
              cancelButtonText: '取消',
              html:'<div class="input-group">\n' +
                  '    <div class="form-group">\n' +
                  '      <label for="examQuestion">问题</label>\n' +
                  '      <input type="text" class="form-control" id="examQuestion" placeholder="您要输入的问题是？">\n' +
                  '    </div>\n' +
                  '    <div class="form-group" >\n' +
                  '      <label for="exampleInputEmail1">答案</label>\n' +
                  '      <input type="text" class="form-control" id="examAnswer" placeholder="填入上面问题的标准答案" >\n' +
                  '      <div class="explain">' + explain + '</div>' +
                  '    </div>\n' +
                  '    <div class="form-group">\n' +
                  '      <label for="exampleInputEmail1">选项1</label>\n' +
                  '      <input type="text" class="form-control" id="examOption1" placeholder="问题的选项！">\n' +
                  '    </div>\n' +
                  '    <div class="form-group">\n' +
                  '      <label for="exampleInputEmail1">选项2</label>\n' +
                  '      <input type="text" class="form-control" id="examOption2" placeholder="问题的选项！">\n' +
                  '    </div>\n' +
                  '    <div class="form-group">\n' +
                  '      <label for="exampleInputEmail1">选项3</label>\n' +
                  '      <input type="text" class="form-control" id="examOption3" placeholder="问题的选项！">\n' +
                  '    </div>\n' +
                  '  <div class="form-group">\n' +
                  '      <label for="exampleInputEmail1">选项4</label>\n' +
                  '      <input type="text" class="form-control" id="examOption4" placeholder="问题的选项！">\n' +
                  '    </div>\n' +
                  '  </div>',
              preConfirm: function () {
                  return new Promise(function (resolve) {
                      resolve({
                              question: parent.$('#examQuestion').val(),
                              answer: parent.$('#examAnswer').val(),
                              option1: parent.$('#examOption1').val(),
                              option2: parent.$('#examOption2').val(),
                              option3: parent.$('#examOption3').val(),
                              option4: parent.$('#examOption4').val(),
                          }
                      )
                  })
              },
              onOpen: function () {
                  parent.$('#examQuestion').focus()
              }
          }).then(function (result) {
              for (let index in result){
                  if (result[index] === ""){
                      parent.swal('问题、答案以及选项不能为空！', '', 'error');
                      return
                  }
              }
              result.c_id = "{{ course.id }}";
              a_json(
                  src,
                  "POST",
                  JSON.stringify(result),
                  function (data) {
                      swal(data.msg, '', 'success').then(()=>document.location.reload())
                  }
              )
          }).catch(swal.noop)
      }

      $(document).ready(function () {
          let judge_num = $('input[name="judge_num"]'),
              judge_score = $('input[name="judge_score"]'),
              radio_num = $('input[name="radio_num"]'),
              radio_score = $('input[name="radio_score"]'),
              multiple_num = $('input[name="multiple_num"]'),
              multiple_score = $('input[name="multiple_score"]'),
              pass_score = $('input[name="pass_score"]'),
              exam_time = $('input[name="exam_time"]'),
              total_score = $('input[name="exam_total"]');


          judge_num.change(function () {
              let score = judge_score.val();
              changeTotal(score, this);
          });

          radio_num.change(function () {
              let score = radio_score.val();
              changeTotal(score, this);
          });

          multiple_num.change(function () {
              let score = multiple_score.val();
              changeTotal(score, this);
          });

          judge_score.change(function () {
              let num = judge_num.val();
              let total = $(this).val() * num;
              $(this).parent().next().html(total);
              updateTotal();
          });

          radio_score.change(function () {
              let num = radio_num.val();
              let total = $(this).val() * num;
              $(this).parent().next().html(total);
              updateTotal();

          });

          multiple_score.change(function () {
              let num = multiple_num.val();
              let total = $(this).val() * num;
              $(this).parent().next().html(total);
              updateTotal();

          });

          $('#saveBtn').click(function () {
              let data = JSON.stringify({
                  c_id: '{{ course.id }}',
                  exam: {
                      judge_num: judge_num.val(),
                      judge_score: judge_score.val(),
                      radio_num: radio_num.val(),
                      radio_score: radio_score.val(),
                      multiple_num: multiple_num.val(),
                      multiple_score: multiple_score.val(),
                      pass_score: pass_score.val(),
                      total_score: total_score.val(),
                      exam_time: exam_time.val()
                  }
              });

              a_json(
                  "{{ url_for('api.update_exam') }}",
                  "UPDATE",
                  data,
                  (data)=>{
                      parent.swal(data.msg, '', 'success').then(()=>document.location.reload())
                  }
              )
          });

          $('#addMultiple').click(function () {
              swalExamChoice('多选', '{{ url_for("api.add_multiple") }}');
          });

          $('#addRadio').click(function () {
              swalExamChoice('单选', '{{ url_for("api.add_radio") }}');
          });

          $('#addJudge').click(function () {
              parent.swal({
                  title: '新增判断',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  confirmButtonText: '提交',
                  cancelButtonText: '取消',
                  html:'<div class="input-group">\n' +
                      '    <div class="form-group">\n' +
                      '      <label for="examQuestion">问题</label>\n' +
                      '      <input type="text" class="form-control" id="examQuestion" placeholder="您要输入的问题是？">\n' +
                      '    </div>\n' +
                      '    <div class="form-group" >\n' +
                      '      <label for="exampleInputEmail1">答案</label>\n' +
                      '      <div class="radio">'+
                      '        <input type="radio" class="form-control" name="examAnswer" value="1" checked>正确\n' +
                      '      </div>\n' +
                      '      <div class="radio">'+
                      '        <input type="radio" class="form-control" name="examAnswer" value="0" >错误\n' +
                      '      </div>\n' +
                      '    </div>\n' +
                      '  </div>',
                  preConfirm: function () {
                      return new Promise(function (resolve) {
                          resolve({
                                  question: parent.$('#examQuestion').val(),
                                  answer: parent.$('input[name="examAnswer"]:checked').val()
                              }
                          )
                      })
                  },
                  onOpen: function () {
                      parent.$('#examQuestion').focus()
                  }
              }).then(function (result) {
                  if (result.question !== ""){
                      result.c_id = "{{ course.id }}";
                      a_json(
                          "{{ url_for('api.add_judge') }}",
                          "POST",
                          JSON.stringify(result),
                          function (data) {
                              swal(data.msg, '', 'success').then(()=>document.location.reload())
                          }
                      )
                  }
                  else parent.swal('问题及答案不能为空！', '', 'error')
              }).catch(swal.noop)
          });

          $('input[name="excelUpload"]').change(function () {
              console.log(this.files[0].name);
              let data = new FormData();
              data.append('file', this.files[0]);
              data.append('c_id', '{{ course.id }}');
              $.ajax({
                  url: "{{ url_for('api.upload_topic') }}",
                  data: data,
                  method: "POST",
                  dataType: "json",
                  cache: false,//上传文件无需缓存
                  processData: false,//用于对data参数进行序列化处理 这里必须false
                  contentType: false, //必须
                  success: function (data) {
                      parent.swal(data.msg).then(()=>document.location.reload())
                  }
              })

          });
      });
  </script>
{% endblock %}