{% extends 'admin/frm_base.html' %}
{% block _head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/list.css') }}" type="text/css">
{% endblock %}
{% block content_body %}
  <div class="list-container">
    <div class="list-body">
      <div class="list-search">
        <form action="{{ url_for('admin.user_list') }}">
          <div class="list-head">
            <div>查找条件</div>
            <div>
              <button type="submit" id="userSearch" class="btn btn-success btn-sm">搜索</button>
            </div>
          </div>
          <div class="search-content">
            <div class="form-horizontal">
              <div class="form-title">人员姓名 * </div>
              <input type="text" class="form-control" name="name" placeholder="请输入">
            </div>
            <div class="form-horizontal">
              <div class="form-title">人员电话 * </div>
              <input type="text" class="form-control" name="phone" placeholder="请输入">
            </div>
            <div class="form-horizontal">
              <div class="form-title">人员角色 * </div>
              <select class="form-control" name="role">
                <option value="">任意</option>
                <option value="User">普通用户</option>
                <option value="Moderator">管理员</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="list-content">
        <div class="list-head">
          <div>人员列表</div>
        </div>
        <div class="list-table">
          <table>
            <thead>
            <tr>
              <td>姓名</td>
              <td>角色</td>
              <td>电话</td>
              <td>密码</td>
              <td>操作</td>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
              <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.password }}</td>
                <td>
                  <a href="#" onclick="editUser(this,'{{ user.id }}', '{{ user.role }}')">编辑</a>
                  <a href="#" onclick="deleteUser('{{ user.id }}')">删除</a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="list-pagination">
          <nav aria-label="...">
            <ul class="pager">
              {% if prev %}
                <li><a href="{{ url_for('admin.user_list',
              page=prev, name=name, phone=phone, role_name=role_name) }}">上一页</a></li>
              {% else %}
                <li class="disabled"><a >上一页</a></li>
              {% endif %}
              <li>共 {{ total }} 页 当前第 {{ page }} 页</li>
              {% if next %}
                <li><a href="{{ url_for('admin.user_list',
              page=next, name=name, phone=phone, role_name=role_name) }}">下一页</a></li>
              {% else %}
                <li class="disabled"><a >下一页</a></li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block _scripts %}
  <script>
      function editUser(ele, id, role) {
          event.preventDefault();
          let tr = ele.parentNode.parentNode;
          let phone = tr.children[2].innerHTML,
              pwd = tr.children[3].innerHTML,
              name = tr.children[0].innerHTML;
          parent.swal({
              title: '编辑人员信息',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              confirmButtonText: '保存',
              cancelButtonText: '取消',
              html:
                  '<b>姓名</b><input id="swal-input1" class="swal2-input" value='+ name +'>' +
                  '<b>电话</b><input id="swal-input2" class="swal2-input" value=' + phone + '>' +
                  '<b>密码</b><input id="swal-input3" class="swal2-input" value=' + pwd + '>'
                  ,
              preConfirm: function () {
                  return new Promise(function (resolve) {
                      resolve([
                          parent.$('#swal-input1').val(),
                          parent.$('#swal-input2').val(),
                          parent.$('#swal-input3').val()
                      ])
                  })
              },
              onOpen: function () {
                  parent.$('#swal-input1').focus()
              }
          }).then(function (result) {
              let data = JSON.stringify({
                  name: result[0],
                  phone: result[1],
                  password: result[2],
                  role: role,
                  _id: id
              });
              a_json(
                  "{{ url_for('api.edit_user') }}",
                  "UPDATE",
                  data,
                  function (data) {
                      parent.swal(data.msg, '', 'success').then(()=>document.location.reload())
                  }
              )
          }).catch(swal.noop)
      }

      function deleteUser(id) {
          event.preventDefault();
          parent.swal({
              title: '确定删除吗？',
              text: '你将无法恢复它！',
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: '确定删除！',
          }).then(function(){
              a_json(
                  '{{ url_for("api.del_user") }}',
                  'DELETE',
                  JSON.stringify({u_id:id}),
                  (data)=>{
                      parent.swal('删除', data.msg, 'success').then(
                          ()=>document.location.reload()
                      )
                  }
              )
          });

      }

      $(document).ready(function () {
          let msg = '{{ msg }}';
          if (msg !== '') parent.swal('信息', msg, 'success')
      })
  </script>
{% endblock %}