{% macro page_section(page, page_url, index_url) %}
  <div class="macro bc-red page-section">
    <div class="container">
      <div class="flex justify-content-between">
        <div class="section-item">
          <div class="animated bounceInLeft flex align-items-center">
            <h1>{{ page }}</h1>
          </div>
        </div>
        <div class="section-item">
          <div class="animated bounceInRight">
            <a href="{{ index_url }}">首页</a>
            <label>/</label>
            <a href="{{ page_url }}">{{ page }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-seperate"></div>
{% endmacro %}


{% macro progress(text, percent, class='progress-bar progress-bar-danger') %}
  <div class="my-progress">
    <div class="text">{{ text }}</div>
    <div class="learn-progress">
      <div class="progress">
        <div class="{{ class }}" role="progressbar"
             aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100"
             style="width: {{ percent }}%; min-width: 2.5rem; padding-left: 5px">
          {{ percent }}%
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro pagination() %}
  <div class="pagination">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
{% endmacro %}


{% macro pagination_widget(pagination, endpoint) %}
  <nav aria-label="Page navigation ">
    <ul class="pagination">
      <li {% if not pagination.has_prev %} class="page-item disabled" {%
          endif %}>
        <a href="{% if pagination.has_prev %}
								 {{ url_for(endpoint,page=pagination.page - 1, **kwargs) }}#classify
							 {% else %}
							   #
							 {% endif %}" class="page-link">
          &laquo;
        </a>
      </li>
      {% for p in pagination.iter_pages() %}
        {% if p %}
          {% if p == pagination.page %}
            <li class="page-item active">
              <a class="page-link"
                 href="{{ url_for(endpoint, page=p, **kwargs) }}#classify">{{ p }}</a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link"
                 href="{{ url_for(endpoint, page=p, **kwargs)}}#classify">
                {{ p }}
              </a>
            </li>
          {% endif %}
        {% else %}
          <li class="page-item disabled">
            <a href="#" class="page-link">
              &hellip;
            </a>
          </li>
        {% endif %}
      {% endfor %}
      <li{% if not pagination.has_next %} class="page-item disabled"{% endif %}>
        <a href="{% if pagination.has_next %}
									{{ url_for(endpoint,page=pagination.page + 1, **kwargs) }}#classify
							 {% else %}
							 		#
					     {% endif %}" class="page-link">
          &raquo;
        </a>
      </li>
    </ul>
  </nav>
{% endmacro %}

